<!--메인페이지-->
<!--담당:이정훈 -->
<!DOCTYPE html>
<html>
<head>
  <title>CapStone</title>
  <link rel="stylesheet" href="/css/homeStyle.css">
</head>
<body>
<div id="header">
  <h1>Capstone</h1>
  <div class="btn-group">
  </div>
</div>
<div class="movie-container">
  <div class="movie-card">
    <h2>C</h2>
    <form method="get" action="/board/C"> <!-- /board/C 에서 /board/list 로 수정 -->
      <input type="submit" value="문제풀기" style="cursor::pointer">
    </form>
  </div>
  <div class="movie-card">
    <h2>JAVA</h2>
    <form method="get" action="/board/JAVA">
      <input type="submit" value="문제풀기" style="cursor::pointer">
    </form>
  </div>
  <div class="movie-card">
    <h2>PYTHON</h2>
    <form method="get" action="/board/PYTHON">
      <input type="submit" value="문제풀기" style="cursor::pointer">
    </form>
  </div>

</div>
</body>
</html>
